@import url("../../vendor/normalize.css");
@import url("../../vendor/fonts/fonts.css");
@import url("./blocks/author/author.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/header/header.css");
@import url("./blocks/clients/clients.css");
@import url("./blocks/techs/techs.css");
@import url("./blocks/swiper/swiper.css");

.root {
    width:1440px;
    margin:auto;
}

a {
    text-decoration: none;  
}