@import url("../../vendor/normalize.css");
@import url("../../vendor/fonts/fonts.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/_type_light/_type_light.css");
@import url("./blocks/request/request.css");
@import url("./blocks/analytics/analytics.css");

.root {
    max-width:1440px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;  
}