.header__logo {
    margin:auto 0;
    margin-left:calc(104*100%/1440);
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        margin-left: calc(40*100%/1024);
    }  
}

@media screen and (max-width: 500px) {
    .header__logo {
        font-size: 16px;
    }  
}