@import url("./__link/__link.css");

.footer__linksContainer {
    margin: 0;
    margin:auto;
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer__linksContainer {
        flex-direction: column;
        margin:0;
    }
}